.index {
    position: absolute;
    top: 6px;
    left: 4px;
    font-size: 80%;
    color: lightgray;
}

.dash-container {
    /* height: calc(100% - 45px); */
    position: relative;
    height: 100vh;
    padding: 5% 0;
    position: relative;
}

.single-entry {
    position: relative;
    margin: 2% auto;
    border: .5px solid darkgray;
    width: 90%;
    padding: 2% 2% 2% 3%;
    background-color: #eff3f6;
    min-height: 20vh;
}

.forward {
    display: flex;
    flex-flow: column;
}

.backward {
    display: flex;
    flex-flow: column-reverse;
}

.order-change {
    cursor: pointer;
    position: relative;
    top: 26px;
    left: 385px;
}

.dash {
    /* background-color: #fff; */
    background-color: rgba(250, 251, 252, 0.85);
    border: .3px solid lightgray;
    overflow: 10% auto;
    margin: 0 auto 2% auto;
    width: 50%;
}

.dropdown {
    outline: none;
    position: absolute;
    left: 25%;
    top: 0;
    z-index: 1;
    width: 15%;
    background: white;
}

.sort-menu-item,
.sort-menu-heading {
    border: .5px solid lightgray;
    text-align: center;
    padding: 4%;
    cursor: pointer;
}

.sort-menu-item:hover,
.sort-menu-heading:hover {
    background: #eff3f6;
}

.sort-menu-heading {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    color: #433F3F;
}

.order-change {
    cursor: pointer;
}

.menu-list {
    animation-name: menu-expand;
    animation-duration: .5s;
    animation-fill-mode: both;
}

.item-link {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding-bottom: 4%;
    border-bottom: .5px solid #000000;
    margin: 0 auto;
    width: 80%;
}

.content-container {
    /* display: flex;
    flex-flow: column;
    justify-content: flex-start; */
    margin: 3% auto 0 auto;
    width: 80%;
}