.index {
    position: absolute;
    top: 6px;
    left: 4px;
    font-size: 80%;
    color: lightgray;
}

.dash-container {
    position: relative;
    height: calc(100vh - 95px);
    overflow-y: auto;
    background-image: url("../images/joel-peel-131757.jpg");
    background-size: cover;
}

.single-entry {
    position: relative;
    margin: 2% auto;
    border: .5px solid darkgray;
    width: 90%;
    padding: 2% 2% 2% 3%;
    background-color: #ffffff;
    min-height: 20vh;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    -webkit-transition: box-shadow .3s ease-in-out;
    -moz-transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
}

.single-entry:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .25);
}

.forward {
    display: flex;
    flex-flow: column;
}

.backward {
    display: flex;
    flex-flow: column-reverse;
}

.order-change {
    cursor: pointer;
    position: relative;
    top: 26px;
    left: calc(26% - 3px);
    z-index: 2;
}

.dash {
    background-color: rgba(238, 242, 245, 0.884);
    border: .3px solid lightgray;
    overflow: 10% auto;
    margin: 0 auto 2% auto;
    width: 50%;
    padding: 32px 0 1% 0;
    position: relative;
}

@media screen and (max-width: 830px) {
    .dash {
        width: 100%;
    }
    .order-change {
        left: calc(2% - 3px);
    }
}

.dropdown {
    outline: none;
    position: absolute;
    left: 5%;
    top: 8.6px;
    z-index: 1;
    width: 170px;
}

.dropdown-list__item,
.dropdown__heading {
    border: .5px solid lightgray;
    text-align: center;
    padding: 6px;
    cursor: pointer;
}

.order-change {
    cursor: pointer;
}

.dropdown__heading {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    color: #433F3F;
    z-index: 4;
    background: white;
}

.dropdown-list__item:hover,
.dropdown__heading:hover {
    background: var(--color-secondary);
    color: var(--color-primary);
}

.dropdown-list {
    background-color: rgba(250, 251, 252, 0.85);
    transform: translateY(-25%);
    animation-name: menu-expand;
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-timing-function: ease;
    box-shadow: 3px 6px 14px rgba(0, 0, 0, .2);
}

.dropdown-list__item {
    position: relative;
    background: white;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

@keyframes menu-expand {
    from {
        transform: translateY(-25%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.item-link {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding-bottom: 4%;
    border-bottom: .5px solid lightgray;
    margin: 0 auto;
    width: 80%;
}

.content-container {
    margin: 3% auto 0 auto;
    width: 80%;
}

@media screen and (max-width: 700px) {
    .item-detailed {
        width: 98%;
    }
}