.post-form {
    width: 50%;
    margin: 1% auto 5% auto;
    border: .5px solid lightgray;
    padding: 1%;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
}

.form-input {
    margin: 2% 0;
}

@media screen and (max-width: 700px) {
    .post-form {
        width: 90%;
    }
}