header {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    color: #fff;
}

header :any-link {
    color: #fff;
    color: black;
}

.logo {
    text-decoration: none;
    font-family: Courier New, Courier, monospace;
    font-size: 250%;
    margin-left: 10%;
}

.logo>a:hover {
    outline: none;
}

#root>div>div>header>a {
    color: #fff;
    text-decoration: none;
}

.profile-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5% 0 0;
    cursor: pointer;
    position: relative;
}

.profile-img {
    border: 2px solid lightgray;
    border-radius: 50px;
    width: 43%;
    height: auto;
}

.user-name {
    margin: 0;
}

.account-container {
    right: 17px;
    top: 45px;
    width: 20%;
    border: .4px solid gray;
    color: black;
    cursor: pointer;
    z-index: 2;
    background: white;
}

.account-menu-item {
    border: .4px solid gray;
    padding: 2%;
    width: 100%;
}

.account-menu-container {
    bottom: -65px;
    height: 150;
    right: -65px;
    position: absolute;
    z-index: 1;
    color: black;
    background: white;
    width: 200%;
}

.account-menu-item {
    border: .5px solid lightgray;
    text-align: center;
    padding: 4%;
    cursor: pointer;
}

.account-menu-item:hover {
    background: #eff3f6;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    text-decoration: none;
}

.account-menu-item {
    width: 100%;
    color: green;
}