header {
    /* height: var(--header-height); */
    height: 6vh;
    align-items: center;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 4% max-content auto 6% 1%;
    border-bottom: .3px solid lightgray;
    color: var(--color-primary);
    box-shadow: 0px 4px 27px rgba(0, 0, 0, .1);
    /* margin-bottom: 2%; */
}

header :any-link {
    /* color: #fff;
    color: black; */
    color: var(--color-primary);
}

.header-login {
    margin-right: 4%;
}

.logo {
    text-decoration: none;
    font-family: Courier New, Courier, monospace;
    font-size: 250%;
    grid-column: 2/3;
    text-shadow: 1px 5px 20px rgba(0, 0, 0, .2);
    text-align: center;
}

.logo>a:hover {
    outline: none;
}

#root>div>div>header>a {
    /* color: #fff; */
    color: var(--color-primary);
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    text-rendering: optimizeSpeed;
}

.profile-area {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    position: relative;
    height: 100%;
}

.profile-img {
    border: 2px solid lightgray;
    border-radius: 100px;
    width: 41%;
    height: auto;
    flex-flow: nowrap;
}

.user-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
    height: 100%;
}

.account-container {
    right: 17px;
    top: 45px;
    width: 20%;
    border: .4px solid gray;
    color: black;
    cursor: pointer;
    /* z-index: 2; */
    background: white;
}

.account-menu-item {
    border: .4px solid gray;
    padding: 2%;
    width: 100%;
}

.account-menu-container {
    bottom: -65px;
    height: 150;
    right: -65px;
    position: absolute;
    /* z-index: 1; */
    color: black;
    background: white;
    width: 200%;
}

.account-menu-item {
    border: .5px solid lightgray;
    text-align: center;
    padding: 4%;
    cursor: pointer;
}

.account-menu-item:hover {
    background: var(--color-secondary);
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    text-decoration: none;
}

.account-menu-item {
    width: 100%;
    color: green;
}