@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('./reset.css');
@import url('./header.css');
@import url('./landing.css');
@import url('./single.css');
@import url('./form.css');
@import url('./dashboard.css');
@import url('./searchItem.css');
@import url('./nav.css');
@import url('./favorites.css');
@import url('./account.css');

/* @import url('./videoBackground.css'); */

:root {
    --header-height: 45px;
    --nav-height: 45px;
    --color-primary: #2c3e50;
}

html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Abel', sans-serif;
}

.main-container {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #eff3f6;
}

.no-content {
    font-style: italic;
    color: gray;
}

.open-form {
    color: #2c3e50
}