html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.main-container {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #eff3f6;
}

.no-content {
    font-style: italic;
    color: gray;
}

.open-form {
    color: #2c3e50
}