.landing-page {
    height: calc(100vh - 45px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}   



.sign-up-btn-container {
    width: 3000px;
}


a.login-heading {
    font-weight: bolder;
    font-size: 200%;
    text-decoration: none;
}

.login-btn {
    width: 150px;
}

button.auth-btn {
    opacity: 1;
    border: none;
    padding: .4em;
    color: red;
}