.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    height: 45px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, .2);
}

.application-link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 105%;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
}

.category-quanitity {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: #e2e2e29f;
    color: black;
    height: 18px;
    padding: 4px;
}

.nav-link:hover {
    text-decoration: none;
}

.nav-active {
    border-bottom: 3px solid green;
}